In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_transformer
from sklearn.impute import SimpleImputer
from sklearn.linear_model import Lasso
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [ ]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.25.2)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.4.0)

Data collection and Processing

In [ ]:
car = pd.read_csv('/content/Training_Data_Set.csv')

In [ ]:
car.head()

,Id,Maker,model,Location,Distance,Owner Type,manufacture_year,Age of car,engine_displacement,engine_power,body_type,Vroom Audit Rating,transmission,door_count,seat_count,fuel_type,Price
0,25001,skoda,octavia,Ahmedabad,NaN,Second,1964,55,1964,147.0,compact,8,man,None,None,petrol,543764.25
1,25002,fiat,panda,Ahmedabad,27750.0,Third,2012,7,1242,51.0,NaN,6,man,4,4,petrol,401819.25
2,25003,bmw,x1,Hyderabad,46000.0,Third,2014,5,1995,105.0,NaN,7,auto,4,5,diesel,2392855.50
3,25004,nissan,juke,Mumbai,43949.0,Third,2011,8,1618,140.0,NaN,7,man,4,5,petrol,958606.50
4,25005,bmw,x5,Jaipur,59524.0,Fourth & Above,2012,7,2993,180.0,NaN,7,auto,4,5,diesel,3085561.50

In [ ]:
car.shape

(53515, 17)

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53515 entries, 0 to 53514
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   53515 non-null  int64
 1   Maker                53515 non-null  object
 2   model                53515 non-null  object
 3   Location             53515 non-null  object
 4   Distance             52304 non-null  float64
 5   Owner Type           53515 non-null  object
 6   manufacture_year     53515 non-null  int64
 7   Age of car           53515 non-null  int64
 8   engine_displacement  53515 non-null  int64
 9   engine_power         52076 non-null  float64
 10  body_type            4136 non-null   object
 11  Vroom Audit Rating   53515 non-null  int64
 12  transmission         53515 non-null  object
 13  door_count           53515 non-null  object
 14  seat_count           53515 non-null  object
 15  fuel_type            53515 non-null  object
 16  Price                53515 non-null  float64
dtypes: float64(3), int64(5), object(9)
memory usage: 6.9+ MB

In [ ]:
print(car.columns)

Index(['Id', 'Maker', 'model', 'Location', 'Distance ', 'Owner Type',
       'manufacture_year', 'Age of car', 'engine_displacement', 'engine_power',
       'body_type', 'Vroom Audit Rating', 'transmission', 'door_count',
       'seat_count', 'fuel_type', 'Price'],
      dtype='object')

In [ ]:
car.describe()

,Id,Distance,manufacture_year,Age of car,engine_displacement,engine_power,Vroom Audit Rating,Price
count,53515.000000,5.230400e+04,53515.000000,53515.000000,53515.000000,52076.000000,53515.000000,5.351500e+04
mean,51758.000000,9.454626e+04,2010.408110,8.591890,1904.049014,100.448345,5.998374,1.098084e+06
std,15448.594165,2.755617e+05,4.650322,4.650322,1496.564596,45.330622,1.418336,8.441565e+05
min,25001.000000,0.000000e+00,1934.000000,3.000000,14.000000,10.000000,4.000000,3.000000e+00
25%,38379.500000,1.549000e+04,2008.000000,5.000000,1395.000000,73.000000,5.000000,5.051812e+05
50%,51758.000000,6.552000e+04,2011.000000,8.000000,1896.000000,91.000000,6.000000,8.854552e+05
75%,65136.500000,1.356410e+05,2014.000000,11.000000,1995.000000,125.000000,7.000000,1.477829e+06
max,78515.000000,9.899800e+06,2016.000000,85.000000,32000.000000,896.000000,8.000000,2.212078e+07

In [ ]:
car['Distance '].unique()

array([    nan,  27750.,  46000., ...,  94371., 246729., 223631.])

##Quality
- bodytype has nan value
- Engine power has nan values
- Distance has Nan values

In [ ]:
backup=car.copy

In [ ]:
car['engine_power'].astype(str).apply(lambda x: x.split('.')[0])

0        147
1         51
2        105
3        140
4        180
        ...
53510     77
53511     77
53512    105
53513     93
53514    173
Name: engine_power, Length: 53515, dtype: object

In [ ]:
car['engine_power'].astype(str).str.isnumeric()

0        False
1        False
2        False
3        False
4        False
         ...
53510    False
53511    False
53512    False
53513    False
53514    False
Name: engine_power, Length: 53515, dtype: bool

In [ ]:
car['engine_power'].fillna(0, inplace=True)

In [ ]:
car['engine_power'].astype(int)

0        147
1         51
2        105
3        140
4        180
        ...
53510     77
53511     77
53512    105
53513     93
53514    173
Name: engine_power, Length: 53515, dtype: int64

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53515 entries, 0 to 53514
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   53515 non-null  int64
 1   Maker                53515 non-null  object
 2   model                53515 non-null  object
 3   Location             53515 non-null  object
 4   Distance             52304 non-null  float64
 5   Owner Type           53515 non-null  object
 6   manufacture_year     53515 non-null  int64
 7   Age of car           53515 non-null  int64
 8   engine_displacement  53515 non-null  int64
 9   engine_power         53515 non-null  float64
 10  body_type            4136 non-null   object
 11  Vroom Audit Rating   53515 non-null  int64
 12  transmission         53515 non-null  object
 13  door_count           53515 non-null  object
 14  seat_count           53515 non-null  object
 15  fuel_type            53515 non-null  object
 16  Price                53515 non-null  float64
dtypes: float64(3), int64(5), object(9)
memory usage: 6.9+ MB

In [ ]:
# Calculate the mean value of the 'Distance' column
mean_distance = car['Distance '].mean()

# Fill missing values with the mean value
car['Distance '].fillna(mean_distance, inplace=True)

In [ ]:
car['Distance '].astype(int)

0          94546
1          27750
2          46000
3          43949
4          59524
          ...
53510      29334
53511     223631
53512      25500
53513    1195500
53514     142000
Name: Distance , Length: 53515, dtype: int64

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53515 entries, 0 to 53514
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   53515 non-null  int64
 1   Maker                53515 non-null  object
 2   model                53515 non-null  object
 3   Location             53515 non-null  object
 4   Distance             53515 non-null  float64
 5   Owner Type           53515 non-null  object
 6   manufacture_year     53515 non-null  int64
 7   Age of car           53515 non-null  int64
 8   engine_displacement  53515 non-null  int64
 9   engine_power         53515 non-null  float64
 10  body_type            4136 non-null   object
 11  Vroom Audit Rating   53515 non-null  int64
 12  transmission         53515 non-null  object
 13  door_count           53515 non-null  object
 14  seat_count           53515 non-null  object
 15  fuel_type            53515 non-null  object
 16  Price                53515 non-null  float64
dtypes: float64(3), int64(5), object(9)
memory usage: 6.9+ MB

In [ ]:
car['body_type'].fillna('Ncompact', inplace=True)

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53515 entries, 0 to 53514
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   53515 non-null  int64
 1   Maker                53515 non-null  object
 2   model                53515 non-null  object
 3   Location             53515 non-null  object
 4   Distance             53515 non-null  float64
 5   Owner Type           53515 non-null  object
 6   manufacture_year     53515 non-null  int64
 7   Age of car           53515 non-null  int64
 8   engine_displacement  53515 non-null  int64
 9   engine_power         53515 non-null  float64
 10  body_type            53515 non-null  object
 11  Vroom Audit Rating   53515 non-null  int64
 12  transmission         53515 non-null  object
 13  door_count           53515 non-null  object
 14  seat_count           53515 non-null  object
 15  fuel_type            53515 non-null  object
 16  Price                53515 non-null  float64
dtypes: float64(3), int64(5), object(9)
memory usage: 6.9+ MB

In [ ]:
car.reset_index(drop=True)

,Id,Maker,model,Location,Distance,Owner Type,manufacture_year,Age of car,engine_displacement,engine_power,body_type,Vroom Audit Rating,transmission,door_count,seat_count,fuel_type,Price
0,25001,skoda,octavia,Ahmedabad,9.454626e+04,Second,1964,55,1964,147.0,compact,8,man,None,None,petrol,543764.25
1,25002,fiat,panda,Ahmedabad,2.775000e+04,Third,2012,7,1242,51.0,Ncompact,6,man,4,4,petrol,401819.25
2,25003,bmw,x1,Hyderabad,4.600000e+04,Third,2014,5,1995,105.0,Ncompact,7,auto,4,5,diesel,2392855.50
3,25004,nissan,juke,Mumbai,4.394900e+04,Third,2011,8,1618,140.0,Ncompact,7,man,4,5,petrol,958606.50
4,25005,bmw,x5,Jaipur,5.952400e+04,Fourth & Above,2012,7,2993,180.0,Ncompact,7,auto,4,5,diesel,3085561.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53510,78511,skoda,octavia,Delhi,2.933400e+04,Fourth & Above,2014,5,1598,77.0,Ncompact,4,man,4,5,diesel,1342996.50
53511,78512,skoda,octavia,Bangalore,2.236310e+05,Fourth & Above,2009,10,1900,77.0,Ncompact,8,man,5,5,diesel,510732.75
53512,78513,bmw,x1,Pune,2.550000e+04,Third,2015,4,1995,105.0,Ncompact,4,auto,4,5,diesel,2008123.50
53513,78514,toyota,avensis,Jaipur,1.195500e+06,Third,2011,8,11950,93.0,compact,5,man,None,None,diesel,874352.25
53514,78515,bmw,x5,Kochi,1.420000e+05,First,2008,11,2993,173.0,Ncompact,4,auto,5,5,diesel,1576610.25

In [ ]:
car.to_csv('File 02 car.csv')

MODEL

In [ ]:
x= car.drop(columns='Price')
y= car['Price']

In [ ]:
x_train, x_test,y_train, y_test=train_test_split(x,y, test_size=0.2)

In [ ]:
ohe = OneHotEncoder()
ohe.fit(x[['model','Maker', 'fuel_type']])

OneHotEncoder()

In [ ]:
print(type(y_train))
y_train = pd.DataFrame(y_train)
y_train = y_train[y_train.applymap(lambda x: isinstance(x, (int, float)))]

<class 'pandas.core.series.Series'>

In [ ]:
print(y_train.head())

            Price
33503   711953.25
46985  1444585.50
36971   402480.00
50462   825091.50
15247   274796.25

In [ ]:
y_train = y_train[y_train.applymap(lambda x: isinstance(x, (int, float)))]

In [ ]:
Test_Data=pd.read_csv('/content/Test_Data_Set.csv')

In [ ]:
# Define preprocessing steps for different types of features
categorical_features = x.select_dtypes(include=['object']).columns.tolist()
numeric_features = x.select_dtypes(include=['int64', 'float64']).columns.tolist()

#preprocession of data before training the model
numeric_transformer = Pipeline(steps=[
('imputer', SimpleImputer(strategy='median'))
])

categorical_transformer = Pipeline(steps=[
('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
('onehot', OneHotEncoder(handle_unknown = 'ignore'))
])
preprocessor = ColumnTransformer(
transformers=[
('num', numeric_transformer, numeric_features),
( 'cat', categorical_transformer, categorical_features)])


# # Create a pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('regressor', LinearRegression())])

# # Fit the pipeline on the training data
pipeline.fit(x_train, y_train)

# # Predict on the test data
y_pred = pipeline.predict(Test_Data)

In [ ]:
print(y_pred)

[[ 547890.17018469]
 [1207190.32572101]
 [1538761.46867387]
 ...
 [ 392625.05473347]
 [1214596.10105608]
 [ 953505.78104565]]

In [ ]:
test_ids = Test_Data['Id'].values
predicted_prices = y_pred

In [ ]:
predicted_prices.shape
test_ids.shape

(5615,)

In [ ]:
# Flatten the predicted_prices array
predicted_prices = predicted_prices.flatten()

# Print the formatted arrays
print(test_ids)
print(predicted_prices)

[11001 11002 11003 ... 16613 16614 16615]
[ 547890.17018469 1207190.32572101 1538761.46867387 ...  392625.05473347
 1214596.10105608  953505.78104565]

In [ ]:
# Create a DataFrame with IDs and predicted prices
FinalResult_df = pd.DataFrame({'Id': test_ids, 'Price': predicted_prices})

# Save the DataFrame to a CSV file
FinalResult_df.to_csv('Final Result.csv', index=False)